@use "../../styles/colors";

.navbar-container {
  height: 50px;
  width: 100%;
  padding: 0 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: colors.$secondary-color;
  color: white;

  .brand {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;

    a {
      cursor: pointer;
      font-size: 28px;

      &:hover {
       text-shadow: 5px 5px 5px colors.$accent-color;
      }
    }
  }

  .links {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @extend %links;
  }

  .auth {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;

    @extend %links;
  }
}

%links {
  a {
    width: auto;
    height: 40px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all .2s ease-in;
    border-radius: 24px;
    margin: 0 6px;
  }

  a:hover {
    background-color: white;
    color: colors.$main-color;
  }
}
